.row_1 {
    text-align: center;
}

.col_1 {
    background-color: white;
}

.col_2 {
    font-size: 30px;
}

.col_3{
    border: solid 2px black;
    min-height: 250px;
    float: none;
    margin: 0px auto;
}