.container_1 {
    padding: 0;
}

.col_1 {
    max-width: 200px;
    background-color: lightgreen;
    border-radius: 10px 0px 0px 10px;
    border: solid 3px lightblue;
    padding: 0;
}

.col_2 {
    font-size: 20px;
    font-weight: 1000;
}

.col_3 {
    font-weight: bold;
}

.col_4 {
    text-align: center;
}

.row_1 {
    text-align: center;
}

.row_2 {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}

.row_3 {
    text-align: center;
    margin-top: 10px;
}

.row_4 {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

.row_5 {
    text-align: center;
    margin-top: 5px;
}

.row_6 {
    text-align: center;
    margin-top: 10px;
}

.row_7 {
    text-align: center;
    margin-top: 10px;
}

.row_10 {
    text-align: start;
    margin-top: 5px;
    margin-left: 2px;
}

.list_main {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 3px;
}

.list_sub {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.div_line_1 {
    border-bottom: solid 2px;
    margin: 10px 0px;
}

.test_1 {
    border-radius: 10px 10px;
    background-color: skyblue;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0 40px;
}

