<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/common :: head('UserInfo')">
</head>
<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
  </svg>
  <div class="container py-3">
    <header>

      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" th:replace="fragments/common :: menu">
      </div>

      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">UserInfo</h1>
        <!--    <p class="fs-5 text-muted">Hello</p>-->
      </div>
    </header>
  </div>


</body>
</html>
