.container_main {
    min-width: 1000px;
    max-width: 1250px;
}

.row_1 {
    min-height: 500px;
}

.row_3 {
    text-align: end;
    margin-bottom: 10px;
}

.col_1 {
    margin-top: 10px;
    background-color: white;
}

.col_2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.row_view_01 {
    margin-bottom: 5px;
}

.row_view_02 {
    margin-bottom: 30px;
}

.div_view_01 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}